/* STTYLES */
h2 {
    margin-top: 0;
}

.nav-pills {
    margin-left: 20px;
}

.editors textarea, .editors .CodeMirror {
    width: 100%;
    height: 500px;
}

.editors textarea {
    font-family: monospace;
}

.result pre {
    max-height: 500px;
}

textarea:focus {
    outline: none;
}

/* New UI Styles */
body {
    font-family: "Lato", "Lucida Grande","Lucida Sans Unicode", Tahoma, Sans-Serif;
    line-height: 1.5;
    font-size: 15px;
    font-weight: 400;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    min-height: 50px;
    padding: 13px 30px;
    /*background-color: #24292e;*/
    background-color: rgba(40,40,76,1); /*#282B4C*/
    color: #fff;
    align-items: center;
}

.header-text {
    flex: 3;
    display: flex;
    align-items: center;
    align-self: center;
}

.header-title a{
    color: #fff;
}

.header-title-heading {
    font-size: 21px;
    font-weight: 700;
    color: #fff;
    padding-left: 10px;
    padding-right: 16px;
    vertical-align: middle;
}

.header-action-btn:hover {
    line-height: 33px;
    background: #adadad;
    color: white;
}

.header-title-heading:hover,
.header-title-heading:active,
.header-title-heading:focus {
    text-decoration: none;
}

.header-text a.hs-link{
    color: #fff;
    /*border-bottom: 1px dotted #fff;*/
    padding-top: 4px;
    font-style: italic;
}

.header-presets {
    margin-left: 27px;
    margin-top: -13px;
}

.header-presets a {
    color: #fff;
}

.header-actions {
    display: flex;
    justify-content: flex-end;
}

.boxes-wrapper {
    padding: 0;
    position: absolute;
    top: 68px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: stretch;
}

.box-header {
    padding: 20px 30px;
    border-bottom: 1px solid rgba(40,40,76,0.1);
    min-height: 52px;
    background-color: rgba(40,40,76,0.05);
}

.box-header h3 {
    margin: 0;
    font-size: 1.5em;
}

.box-code {
    min-width: 200px;
    background: rgba(0,0,0,0.008);
}

/************\
   Messages
\************/

.box-message {
    width: 33.33%;
    display: flex;
    flex-direction: column;
}

.box-message .box-code {
    flex-grow: 3;
    display: flex;
    align-items: stretch;
    height: 95vh; /* стиль добавлен Мишей */
    position: relative;
    overflow: hidden;
    flex-direction: column;
}

.box-message .CodeMirror {
    /*font-family: 'Monaco', monospace;*/
    font-size: 14px;
}


/************\
   Mapping
\************/

.box-mapping {
    width: 33.33%;
    display: flex;
    flex-direction: column;
}

.box-mapping .box-code {
    /*flex: 3;*/
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.box-mapping .box-header {
    display: flex;
    justify-content: space-between;
}

.box-mapping .box-code textarea {
    height: 0;
    flex: none;
}

.box-mapping .CodeMirror {
    /*font-family: 'Monaco', monospace;*/
    font-size: 14px;
}

.box-message .box-code .CodeMirror {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: transparent;
}

.box-mapping .box-code .CodeMirror {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: transparent;
}

/************\
   Result
\************/

.box-result {
    width: 33.33%;
    display: flex;
    flex-direction: column;
}

.box-result .box-code {
    /* flex: 3; */
    margin-bottom: 0;
    font-family: 'Monaco', monospace;
    font-size: 14px;
    line-height: 22.5px;
    background: rgba(0,0,0,0.008);
    border: none;
    padding: 4px 5px 0 25px;
    border-left: 30px solid #f7f7f7;
    padding-left: 5px;
    word-wrap: normal;
    word-break: normal;
    height: 95vh; /* стиль добавлен Мишей */
}

/* Styles for Codemirror */

.CodeMirror {
    font-size: 13px;
}

.cm-style { color: red; }

/* Split Panes by split.js */
.gutter {
    background: rgba(40,40,76,0.01) no-repeat 50%;
    border-left: 1px solid rgba(40,40,76,0.1);
    border-right: 1px solid rgba(40,40,76,0.1);
}
.gutter.gutter-horizontal {
    height: 100%;
    float: left;
    background-image: url(vertical.png);
    cursor: ew-resize;
}

/* Mike Custom Styles */

.box-header select{
    width: 160px;
    height: 40px;
    color: rgba(36,41,46,1);
    border: 1px solid rgba(40,40,76,0.1);
    /*background-color: rgba(36,41,46,0.05);*/
    background-color: #fff; 
    margin-bottom: -8px;
    margin-top: -8px;
    margin-right: -10px;
}

.github-logo-invertocat {
    color: #fff;
    white-space: nowrap;
    margin-left: 10px;
}

.github-logo-invertocat:hover,
.github-logo-invertocat:active,
.github-logo-invertocat:focus {
    color: #fff;
    white-space: nowrap;
    margin-left: 10px;
}

.octicon {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
}





